<!doctype html>
<html lang="en" ng-app="ShoppingListCheckOff">
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type = "text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/css" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.js"></script>
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
<body>
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div ng-controller="ToBuyController as list1">
    <div class="col-md-6">
      <input type="text" ng-model="list1.Item" placeholder="Item">
      <input type="text" ng-model="list1.Quantity" placeholder="Quantity">
      <button ng-click="list1.addItem();">Add Item</button>
      <h2>To Buy:</h2>
      <ul>
        <li ng-repeat = "grocery_item in list1.item_list"> Buy {{grocery_item.quantity}} {{grocery_item.item}} <button ng-click="list1.ItemBought($index);">Bought</button>
        </li>
      </ul>
     <div class="emptyMessage" ng-if="list1.item_list.length === 0">Everything is bought!</div>
    </div>
  </div>

    <!-- Already Bought List -->
    <div ng-controller="AlreadyBoughtController as list2">
    <div class="col-md-6">
     <h2>Already Bought:</h2>
     <ul>
       <li ng-repeat="items in list2.showItems">
         Bought {{items.quantity}} {{items.item}}
       </li>
     </ul>
     <div class="emptyMessage" ng-if="list2.showItems.length === 0">Nothing bought yet.</div>
    </div>
  </div>
  </div>
</div>

</body>
</html>
